<!DOCTYPE html>
<html>
  <head>
    <title>MOAWL Project</title><br>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div align = "center">
      <%= link_to root_path do %>
        <%= image_tag "kcc.jpg" %>
      <% end %>
    </div>
    <div align= "center">
  	<u><h1 align= "center"> moawl-project. </h1></u> <br>

  	
        <h2 align="center"> Mother of all word lists is a word list application for GRE aspirants </h2>
        <h3> If you come across a word while reading something, add the word and its meaning here</h2>
  
    </div>
  
<div align ="center">
  	<%=  link_to "Home", root_path %>
  	<%=  link_to "Add New Word", new_post_path %>
    <%= yield %>
</div>
  </body>
  <br>
   
   <br>
   <hr>
 <div align= "center">
  <footer>
  	<h3>copyright &copy; 2019 moawl.</h3>
    <h4>Its just a long list of words that you'd probably like to remember</h4>
  </footer>
</div>


</html>
